@charset "utf-8";
/* CSS Document */

/* Responsive CSS Styles Table of Contents */


@media only screen and (min-width:768px) and (max-width:980px){
.container{width:737px; margin:auto;}
.header_container{width:737px; margin:0 auto; padding:0px;}
.headerbg{width:100%; height:220px; border-top:2px solid #9ddeb8;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  #ffffff 1%, #ffffff 57%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(57%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* W3C */ border-bottom:1px solid #93a7a3;}
.logo{width:300px; margin:10px 0 0 0px; padding:0px; float:left; text-align:center;}
.follow_container{width:300px; margin:10px 0px 0 0px; padding:0px; float:left; text-align:center;}
.navigation_cotainer{width:737px; margin:20px 0 0 0px; padding:0px; float:left; background:#f0f0f0; border:solid 1px #d5d5d5;}
.banner_container{width:737px; margin:-30px auto auto auto; padding:0px;}
.follow_container{width:200px; margin:40px 50px 0 0px; padding:0px; float:right; text-align:right;}
.green_container{width:737px; margin:0 auto; padding:20px 0 30px 0px; display:table;}
.rd-heading{width:100%; height:50px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#FFF;
 font-weight:600; text-align:center;}
 .footer_container{width:737px; margin:0 auto; padding:0 0 10px 0px; display:table;}
.footer-menu{width:100%; line-height:30px; font-size:14px; color:#666; text-align:center; word-spacing:5px; float:left;}
.power{width:100%; float:left; line-height:30px; color:#666; font-size:14px; word-spacing:1px; text-align:center;}

 
.inner_container{width:737px; margin:0 auto; padding:20px 0 10px 0px; display:table;}
.inner_logo{width:180px; margin:0px; padding:0px; float:left;}
.inner_banner{width:550px; margin:0px; padding:0px; float:right; background:url(../images/shadow.png) no-repeat;
 background-position:bottom; height:260px;}
 
.box1{width:22%; height:auto; float:left;}
.box2{width:74%; height:auto; float:right; padding:1%;}

.menu{width:60%; margin:0px; padding:0px; float:left;}
.website{width:30%; margin:10px 0px 0 0px; padding:0px; font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:12px; 
text-align:right; float:left; }
.menu ul{margin:0px; padding:0px;}
.gallery_right_matter{width:100%; margin:0 0 20px 0px; padding:0px; float:left;}
.gallery_right_matter2{width:100%; margin:0px 0 0px 0px; padding:0px; float:left;}

.box5{width:40%; height:auto; float:left;}
.box-img{width:auto; margin:0px auto; padding:10%;}
.box6{width:50%; height:auto; float:right;}

.strail_container{width:100%; margin:0px; padding:0px; display:table;}
.strail_bxnew{width:175px; margin:0px; padding:0px; float:left;}
.strail_bxrightnew{width:175px; margin:0px; padding:0px; float:right;}

}

@media only screen and (min-width:480px) and (max-width:767px){
.container{width:450px; margin:auto;}
.header_container{width:450px; margin:0 auto; padding:0px;}
.headerbg{width:100%; height:220px; border-top:2px solid #9ddeb8;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  #ffffff 1%, #ffffff 57%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(57%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* W3C */ border-bottom:1px solid #93a7a3;}
.follow_container{width:200px; margin:40px 0px 0 0px; padding:0px; float:right; text-align:right;}
.navigation_cotainer{width:450px; margin:20px 0 0 0px; padding:0px; float:left; background:#f0f0f0; border:solid 1px #d5d5d5;}
.banner_container{width:450px; margin:-30px auto auto auto; padding:0px;}
.green_container{width:450px; margin:0 auto; padding:20px 0 30px 0px; display:table;}
.rd-box{width:400px; float:left; padding:5%; margin:10px 0 10px 0px; border-bottom:1px dashed #FFFFFF; border-right:none;}
.rd-box2{width:400px; float:left; padding:1%;}
.footer_container{width:450px; margin:0 auto; padding:0 0 10px 0px; display:table;}
.footer-menu{width:100%; line-height:30px; font-size:14px; color:#666; text-align:center; word-spacing:5px; float:left;}
.power{width:100%; float:left; line-height:30px; color:#666; font-size:14px; word-spacing:1px; text-align:center;}

.inner_container{width:450px; margin:0 auto; padding:20px 0 10px 0px; display:table;}
.inner_logo{width:450px; margin:0px; padding:0px; float:left; text-align:center;}
.inner_banner{width:450px; margin:0px; padding:0px; float:right; background:url(../images/shadow.png) no-repeat;
 background-position:bottom; height:220px;}
 
.box1{width:100%; height:auto; float:left;}
.box2{width:99%; height:auto; margin:30px 0 0 0; float:right; padding:1%;}
.footer{width:100%; height:55px; border:1px solid #7bac41; border-radius:10px; 
background: #51b89b; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  #51b89b 0%, #51b89b 50%, #37b793 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51b89b), color-stop(50%,#51b89b), color-stop(100%,#37b793)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #51b89b 0%,#51b89b 50%,#37b793 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #51b89b 0%,#51b89b 50%,#37b793 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #51b89b 0%,#51b89b 50%,#37b793 100%); /* IE10+ */
background: linear-gradient(to bottom,  #51b89b 0%,#51b89b 50%,#37b793 100%); /* W3C */}

.menu{width:100%; margin:0px auto; padding:0px; float:left;}
.website{width:94%; margin:0px 20px 0 0px; padding:0px; 
 font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:12px; text-align:left; }
 
.menu ul{margin:0px; padding:0px;}
.menu ul li{padding:5px 0px; font-family:Arial, Helvetica, sans-serif; font-size:14px; float:left; list-style-type:none; line-height:18px;}
.menu ul li a{padding:5px 6px; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-decoration:none; list-style-type:none; color:#FFF;}
.gallery_right_matter{width:100%; margin:0 0 20px 0px; padding:0px; float:left;}
.gallery_right_matter2{width:100%; margin:0px 0 0px 0px; padding:0px; float:left;}
.walkthrough-box{width:50%; height:auto; float:left;}
.box5{width:100%; height:auto; float:left; text-align:center;}
.box-img{width:auto; margin:0px auto; padding:10%;}
.box6{width:100%; height:auto; float:right;}

.sterilization-left{width:100%; height:auto; float:left; margin-top:10px;}
.sterilization-right{width:100%; height:auto; float:right; margin-top:10px;border-left:none; padding-left:2%;}
.str-right-box{width:100%; height:auto;}
.strail-bx{width:100%; height:auto; float:left;}

.tm-heading{width:100%; font-size:16px; line-height:30px; color:#666; font-weight:bold;}
.tm-right{width:100%; height:auto; float:right;}

.tm-left{width:100%; height:auto; float:left; padding-top:10px;}

.strail_container{width:100%; margin:0px; padding:0px; display:table;}
.strail_bxnew{width:100%; margin:0px; padding:0px; float:left;}
.strail_bxrightnew{width:100%; margin:0px; padding:0px; float:right;}

}

@media only screen and (max-width:479px){
.container{width:300px; margin:auto;}
.header_container{width:300px; margin:0 auto; padding:0px;}
.headerbg{width:100%; height:320px; border-top:2px solid #9ddeb8;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  #ffffff 1%, #ffffff 57%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(57%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 1%,#ffffff 57%,#efefef 100%); /* W3C */ border-bottom:1px solid #93a7a3;}
.logo{width:300px; margin:10px 0 0 0px; padding:0px; float:left; text-align:center;}
.follow_container{width:300px; margin:10px 0px 0 0px; padding:0px; float:left; text-align:center;}
.app a:link{ background:#7bac41; border-radius:5px; font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:13px; 
padding:5px 10px 5px 10px; text-align:center; margin:0 0 10px 85px; display:table; text-decoration:none;}

.app a:bover{ background:#7bac41; border-radius:5px; font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:13px; 
padding:5px 10px 5px 10px; text-align:center; margin:0 0 10px 85px; display:table;  text-decoration:none;}

.app a:active{ background:#7bac41; border-radius:5px; font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:13px; 
padding:5px 10px 5px 10px; text-align:center;margin:0 0 10px 85px; display:table;  text-decoration:none;}

.app a:visited{ background:#7bac41; border-radius:5px; font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:13px; 
padding:5px 10px 5px 10px; text-align:center; margin:0 0 10px 85px; display:table;  text-decoration:none;}
.navigation_cotainer{width:300px; margin:10px 0 0 0px; padding:0px; float:left; background:#f0f0f0; border:solid 1px #d5d5d5;}
.banner_container{width:300px; margin:-30px auto auto auto; padding:0px;}
.green_container{width:300px; margin:0 auto; padding:20px 0 30px 0px; display:table;}
.rd-box{width:250px; float:left; padding:5%; margin:10px 0 10px 0px; border-bottom:1px dashed #FFFFFF; border-right:none;}
.rd-box2{width:300px; float:left; padding:1%;}
.footer_container{width:300px; margin:0 auto; padding:0 0 10px 0px; display:table;}
.footer-menu{width:100%; line-height:30px; font-size:14px; color:#666; text-align:center; word-spacing:5px; float:left;}
.power{width:100%; float:left; line-height:30px; color:#666; font-size:14px; word-spacing:1px; text-align:center;}

.inner_container{width:300px; margin:0 auto; padding:20px 0 10px 0px; display:table;}
.inner_logo{width:300px; margin:0px; padding:0px; float:left; text-align:center;}
.inner_banner{width:300px; margin:0px; padding:0px; float:right; background:url(../images/shadow.png) no-repeat;
 background-position:bottom; height:158px;}
 
.box1{width:100%; height:auto; float:left;}
.box2{width:99%; height:auto; margin:30px 0 0 0; float:right; padding:1%;}

.footer{width:100%; height:50px; border:1px solid #7bac41; border-radius:10px; 
background: #51b89b; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  #51b89b 0%, #51b89b 50%, #37b793 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51b89b), color-stop(50%,#51b89b), color-stop(100%,#37b793)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #51b89b 0%,#51b89b 50%,#37b793 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #51b89b 0%,#51b89b 50%,#37b793 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #51b89b 0%,#51b89b 50%,#37b793 100%); /* IE10+ */
background: linear-gradient(to bottom,  #51b89b 0%,#51b89b 50%,#37b793 100%); /* W3C */}

.menu ul{margin:0px; padding:0px;}
.menu ul li{padding:3px 0px; font-family:Arial, Helvetica, sans-serif; font-size:13px;   float:left; list-style-type:none; line-height:18px;}
.menu ul li a{padding:3px 6px; font-family:Arial, Helvetica, sans-serif; font-size:13px; text-decoration:none; list-style-type:none; color:#FFF;}

.gallery_right_matter{width:100%; margin:0 0 20px 0px; padding:0px; float:left;}
.gallery_right_matter2{width:100%; margin:0px 0 0px 0px; padding:0px; float:left;}

.walkthrough-box{width:100%; height:auto; float:left;}

.box5{width:100%; height:auto; float:left; text-align:center;}
.box-img{width:auto; margin:0px auto; padding:10%;}
.box6{width:100%; height:auto; float:right;}

.sterilization-left{width:100%; height:auto; float:left; margin-top:10px;}
.sterilization-right{width:100%; height:auto; float:right; margin-top:10px;border-left:none; padding-left:2%;}
.str-right-box{width:100%; height:auto;}
.strail-bx{width:100%; height:auto; float:left;}

.technology-box{width:100%; float:left;}
.technology-img{width:80%; height:auto; margin:0px auto;}
.technology-box1{width:100%; float:right;}
.technology-content{width:95%; margin:0px auto;}


.tm-heading{width:100%; font-size:16px; line-height:30px; color:#666; font-weight:bold;}
.tm-right{width:100%; height:auto; float:right;}

.tm-left{width:100%; height:auto; float:left; padding-top:10px;}


.strail_container{width:100%; margin:0px; padding:0px; display:table;}
.strail_bxnew{width:100%; margin:0px; padding:0px; float:left;}
.strail_bxrightnew{width:100%; margin:0px; padding:0px; float:right;}
.menu{width:100%; margin:0px auto; padding:0px; float:left;}
.website{width:90%; margin:0px 20px 0 0px; padding:0px; 
 font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:12px; text-align:left; }

}

